<div> {{email}} </div>
<div class="container clearfix">

  <div class="people-list" id="people-list">
    <button type="button" (click)="logOut()">logOut</button>
    <button type="button" (click)="router.navigate(['home', 'addGroup'])">add Group</button>
    <!-- <div class="search">
      <input type="text" placeholder="search" />
      <i class="fa fa-search"></i>
    </div> -->
    <ul class="list">
      <li class="clearfix" *ngFor="let user of users" (click)="addChat(user)">
        <div>
          <div class="about">
            <div class="name"> {{user.name}} </div>
            <div class="status">
              <i class="fa fa-circle online"></i> online
            </div>
          </div>
        </div>
      </li>

      <li class="clearfix" *ngFor="let group of groups" (click)="addGroup(group.name)">
        <div>
          <div class="about">
            <div class="name"> {{group.name}} </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div> <!-- end container -->